extra-vars.yml
execution-environment/context
*tmp
*swp
execution-environment/ansible.cfg
testing*
scratch
plugins/README.md
demo-configuration.yml
ansible.cfg
playbooks/files/demos/automation-everywhere/*
roles/install_librenms
roles/test
jjaswanson4-jdc-*.tar.gz